@import '../../sass/styles.scss';

.fast-history {
    height: 100%;
    width: 100%;
    .header {
        text-transform: capitalize;
        height: auto;
        width: 100%;
        background-color: $color-primary;
        color: $color-secondary-light;
        font-weight: 600;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        h3 {
            i {
                font-size: 22px;
                margin: 0px 1rem;
                cursor: pointer;
            }
        }
        .see-all {
            position: relative;
            font-weight: 500;
            font-size: 8px;
            cursor: pointer;
        }
    }
    .content {
        height: 85%;
        width: 100%;
        table {
            width: 100%;
        }
    }
}