$color-font-primary: #232c3a;
$color-primary: #2174ea;
$color-primary-strong: #3147d0;
$color-secondary: #c8c8c8;
$color-secondary-light: #efefef;
$color-red-light: #d23479;
$color-red-strong: #d23434;
$color-gray: #a4a4a4;
$color-gray-light: #efefef;