<div class="listing-container">
    Content is here as always
    <div class="content" *ngIf="!loading; else loader">
        <table mat-table [dataSource]="data">
           <ng-container matColumnDef="addedDate">
               <th mat-header-cell *matHeaderCellDef> Date </th>
               <td mat-cell *matCellDef="let element"> {{ element.addedDateString }} </td>
           </ng-container>
           <ng-container matColumnDef="title">
               <th mat-header-cell *matHeaderCellDef> Title </th>
               <td mat-cell *matCellDef="let element"> {{ element.title ? element.title : '-' }} </td>
           </ng-container>
           <ng-container matColumnDef="category">
               <th mat-header-cell *matHeaderCellDef> Category </th>
               <td mat-cell *matCellDef="let element"> {{ element.category.name }} </td>
           </ng-container>
           <ng-container matColumnDef="amount">
               <th mat-header-cell *matHeaderCellDef> Sum </th>
               <td mat-cell *matCellDef="let element"> {{ element.amount }} zł </td>
           </ng-container>
           <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        </table>
   </div>
</div>

<ng-template #loader>
    <div class="loader"></div>
</ng-template>