@import '../../sass/styles.scss';

.listing-container {
    @extend %container-shared-defaults;
    box-sizing: border-box;;
    height: calc(100%);
    .content {
        height: 85%;
        width: 100%;
        table {
            width: 100%;
        }
    }
}