<div class="sidebar">
    <h1>Dom</h1>
    <h3>User Name</h3>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">Manage households</li>
        <li class="sidebar-list-item">My profile</li>
        <li class="sidebar-list-item">Log Out</li>
    </ul>
    <hr>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">Home</li>
        <li class="sidebar-list-item">Expense stats</li>
        <li class="sidebar-list-item">Categories</li>
        <li class="sidebar-list-item">Finances</li>
    </ul>
</div>