@import '../../sass/styles.scss';
.home {
    box-sizing: border-box;;
    height: calc(100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr; 
    grid-template-areas: 
    "dashboard dashboard"
    "history expense";
    .dashboard-container {
        @extend %container-shared-defaults;
        grid-area: dashboard;
        box-sizing: border-box;;
        margin: 2rem 2rem 2rem 2rem;
        text-align: center;
        align-items: center;  
    }
    .history-container {
        @extend %container-shared-defaults;
        grid-area: history;
        margin: 2rem 1rem 2rem 2rem;
        margin-top: 0;
        padding: 0;
        overflow: auto;
    }
    .add-expense-container {
        @extend %container-shared-defaults;
        grid-area: expense;
        margin: 2rem 2rem 2rem 1rem;
        margin-top: 0;
    }
}
