@import '../../sass/styles.scss';
%container-shared-defaults {
    padding: 1rem;
    box-shadow: 3px 5px 3px 2px #8b9cb51f;
    border-radius: 2px;
    border: 1px solid #e9e9e9;
}
.home {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr; 
    grid-template-areas: 
    "dashboard dashboard"
    "history expense";
    .dashboard-container {
        @extend %container-shared-defaults;
        grid-area: dashboard;
    }
    .history-container {
        @extend %container-shared-defaults;
        grid-area: history;
        margin: 2rem;
    }
    .add-expense-container {
        @extend %container-shared-defaults;
        grid-area: expense;
        margin: 2rem;
    }
}
